on property:sys.boot_completed=1
    chown system system /sys/class/power_supply/battery/status
    chmod 0664 /sys/class/power_supply/battery/status
    chown system system /sys/class/power_supply/battery/temp
    chmod 0664 /sys/class/power_supply/battery/temp
    chown system system /sys/class/power_supply/battery/capacity
    chmod 0664 /sys/class/power_supply/battery/capacity
    chown system system /sys/class/power_supply/battery/constant_charge_current
    chmod 0664 /sys/class/power_supply/battery/constant_charge_current
    start vendor.thermal_batt_manager

service vendor.thermal_batt_manager /vendor/bin/thermal_batt_manager
    class main
    user root
    group root
    capabilities SYS_NICE
    disabled
